# Archivos temporales y de caché
*.tmp
*.swp
__pycache__/
*.pyc
.DS_Store

# Logs y bases de datos locales
*.log
*.sqlite3

# Archivos pesados que deben ir a LFS o Storage Externo (Mega/Drive)
*.iso
*.zip
*.har
*.mp4

# Entornos virtuales
venv/
env/
*venv*/

# Evidencia Cruda (USB)
ES_ESPANOL/Capitulo_06_Archivos_Crudos_y_Respaldos/Evidencia_USB_Rescate/
